*.o
*.cmd
*.d
*.dmp
*.elf
*.lds
*.map
*.ta
hello/host/hello
optee/3.6/toolchains/
host/hello/hello
host/storageTest/enumFiles/enumFiles
host/storageTest/perObj/perObj
ta/crypt/ca_crt.c
ta/crypt/mid_crt.c
ta/crypt/mid_key.c
ta/os_test_lib/libos_test.so
ta/os_test_lib/libos_test.stripped.so
host/libfs/libfs.so*
host/libfs/test/create/create
host/libsess/libsess.so*
host/libcrypt/libcrypt.so*
host/libsocket/libsocket.so*
host/libkey/libkey.so*
googletest/CMakeCache.txt
googletest/googlemock/libgmock.a
googletest/googlemock/libgmock_main.a
host/tests/runTests
